<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h1> Some error occurred on our end!</h1>
            <p> We are working tirelessly to get it fixed!</p>

            <%- include('includes/end.ejs') %>