.form-control {
    margin: 0.5rem 0;
}

.form-control label {
    font-weight: bolder;
    font-size: 2rem;
    color: #00695c;
}

.form-control textarea,
.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    /* height: 4rem; */
}

.form-control textarea{
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
    padding: 1rem;
}

.form-control input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
    height: 3rem;
    padding-left: 1rem;
}
/* .form-control input[type = text]{
    padding-left: 1rem;
} */

.form-control textarea:focus,
.form-control input:focus {
    outline-color: #00695c;
}
